.mine-page {
    .user-info {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: .5rem;
        background: var(--theme);
        color: var(--light);

        & .icon {
            align-self: center;

            & svg {
                width: 12rem;
                height: 12rem;

                & path {
                    fill: var(--light);
                }
            }
        }

        & .content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .name {
                font-size: 1.5rem;
            }
        }
    }

    .label {
        padding: .5rem;
        display: flex;
        justify-content: start;
        align-items: center;

        & svg {
            height: 32px;
            width: 32px;

            & path {
                fill: var(--primary);
            }
        }

        & .name {
            font-weight: bold;
        }
    }

    .operations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        padding: .5rem;

        & .item {
            height: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: var(--light);

            &:hover {
                opacity: .9;
            }

            & svg {
                height: 32px;
                width: 32px;

                & path {
                    fill: var(--light);
                }
            }

            & .name {
                font-weight: bold;
            }

            &.history {
                background: var(--yellow);
            }

            &.favorite {
                background: var(--red);
            }

            &.about {
                background: var(--pink);
            }

            &.user {
                background: var(--green);
            }

            &.task {
                background: var(--blue);
            }

            &.mediaLib {
                background: var(--purple);
            }

            &.upgrade {
                background: var(--orange);
            }

            &.foreverRecord {
                background: var(--cyan);
            }
        }
    }
}