.pagination {
    & {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        padding: .5rem;
    }


    &.small {
        display: block;
    }

    & .position,
    .pageindex,
    .pagesize {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    & .pagesize select {
        height: 24px;
        border-radius: var(--border-radius);
        text-align: center;
        padding: 0;
        outline: none;
        border: 1px solid var(--gray);
    }

    & .pageindex input {
        line-height: 24px;
        border-radius: var(--border-radius);
        text-align: center;
        padding: 0;
        outline: none;
        border: 1px solid var(--gray);
    }

    &.small .pageindex {
        justify-content: space-around;
    }

    & .pageindex .label {
        vertical-align: middle;
        display: inline;
    }
}