.dropdown {
    & {
        position: relative;
    }

    & .dropdown-title {
        border: 1px solid var(--success);
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        height: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius);
    }

    & .dropdown-title.active {
        border: 1px solid var(--primary);
    }

    &.readonly .dropdown-title,
    .disabled .dropdown-title {
        background: var(--gray-100);
    }

    &.readonly .dropdown-title {
        cursor: default;
    }

    &.disabled .dropdown-title {
        cursor: not-allowed;
        -webkit-user-select: none;
        user-select: none;
    }

    & .dropdown-content {
        position: absolute;
        inset: 0px auto auto 0px;
        min-width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        -webkit-user-select: none;
        user-select: none;
        z-index: 3;
        box-shadow: 0 0 5px 0px var(--gray);
        box-sizing: content-box;
        transform-origin: top;
        transform: scaleY(0);
    }

    & .dropdown-content.active {
        transition: transform .2s ease-in-out;
        transform: scaleY(1);
    }

    & .dropdown-content.hide {
        transition: transform .2s ease-in-out;
        transform: scaleY(0);
    }
}