.about-page {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.about-page .goBack {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    background: var(--primary);
    color: var(--light);
    align-items: center;
    padding: .5rem;
    position: relative;
}

.about-page .goBack svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
    z-index: 1;
}

.about-page .goBack svg path {
    fill: var(--light);
}

.about-page .goBack svg:hover path {
    fill: var(--primary-200);
}

.about-page .goBack .name {
    font-weight: bold;
    text-align: center;
    margin-left: -32px;
}

.about-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page .container .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    background: var(--gray-opacity);
    color: var(--light);
    padding: 1rem;
    border-radius: var(--border-radius);
}