.userManage-page .container-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.userManage-page .header {
    background: var(--gray-100);
}

.userManage-page .goBack {
    height: 24px;
    width: 24px;
    cursor: pointer;
    align-self: center;
}

.userManage-page .goBack path {
    fill: var(--primary);
}

.userManage-page .goBack:hover path {
    fill: var(--primary-200);
}

.userManage-page .operations {
    display: flex;
    align-items: center;
    gap: .5rem;
}