.field {
    & {
        width: 100%;
    }

    &.pb {
        padding-bottom: .5rem;
    }

    & .label {
        display: block;
        word-wrap: break-word;
        text-wrap: wrap;
        padding-bottom: .5rem;
    }

    & .input-container {
        display: flex;
        gap: .2rem;
        font-size: .8rem;
    }

    & input {
        box-sizing: border-box;
        line-height: 32px;
        font-size: .8rem;
    }

    & input.input {
        flex-grow: 1;
        border: 1px solid var(--gray-300);
        border-radius: var(--border-radius);
        padding: 0 .5rem;
    }

    & input.input.checkbox {
        flex-grow: unset;
    }

    & label small {
        color: var(--danger);
    }

    & input:focus-visible {
        border-color: var(--primary);
        outline: none;
    }

    & label .error {
        padding: 0 .5rem;
    }

    & input.error {
        border: 1px solid var(--danger);
    }

    & label {
        -webkit-user-select: none;
        user-select: none;
    }

    & .xselect {
        width: 100%;
    }
}