.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--light-opacity);
}

.vimg {
    & {
        object-fit: contain;
    }
}

.large-vimg {
    position: fixed;
    z-index: 2;
    object-fit: contain;
    background: var(--gray-opacity);
    padding: .5rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.large-vimg.small {
    width: 60%;
    max-height: 80%;
    left: 20%;
    top: 10%;
}

.large-vimg.medium {
    width: 50%;
    max-height: 80%;
    left: 25%;
    top: 10%;
}

.large-vimg.large {
    width: 40%;
    max-height: 80%;
    left: 30%;
    top: 10%;
}

.large-vimg.xlarge {
    width: 40%;
    max-height: 80%;
    left: 30%;
    top: 10%;
}

.large-vimg.xxlarge {
    width: 50%;
    max-height: 50%;
    left: 25%;
    top: 25%;
}